@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');

/* Body background color */

body {
    background-color: #f0f0f0;
    margin: 0;
    font-family: Arial, sans-serif;
}


/* Centering content */

main {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

h1,
h2 {
    margin: 0;
}


/* Social media icons */

i {
    font-size: 2em;
    padding: 0 10px;
    height: auto;
    width: 2em;
}


/* Socials container */

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20px;
    width: 100vw;
    background-color: #2424fb;
    color: white;
    padding: 10px;
}

.socials p {
    margin: 0;
}

.socials h2 {
    margin-right: 15px;
}


/* For larger screens */

.gif {
    height: 50vh;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
}


/* Responsive design for small screens */

@media (max-width: 600px) {
    .gif {
        height: 30vh;
        width: auto;
    }
    h1,
    h2 {
        font-size: 1.2em;
    }
    .socials h2 {
        font-size: 1em;
        padding: 0;
    }
}